<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xl.learnjwt.dao.PeRoleMapper">
    <select id="getListByUid" parameterType="string" resultType="com.xl.learnjwt.entity.PeRole">
        SELECT * from pe_role pr, pe_user_role pur  WHERE pur.user_id = #{id} AND pr.id = pur.role_id;
    </select>
</mapper>