<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xl.learnjwt.dao.PeUserMapper">
    <select id="getByName" parameterType="string" resultType="com.xl.learnjwt.entity.PeUser">
        SELECT * from pe_user WHERE username =#{name}
    </select>
</mapper>